  // NAVAGATION BAR

.navbar-default {
  margin-top: 20px;
  background-color: slateGray;
}

.navbar-default .navbar-nav> li > a {
  color: white; /*Change text color here*/
  font-size: 20px;
    }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav{
  color: #FEFAC0;  /*Text hover color on navbar*/
}


.navbar-default .navbar-brand {
    color: #fff;   /*Home text color*/
    font-size: 40px;
}

.navbar-default .navbar-brand:hover{
  color: #FEFAC0;  /*Home hover color*/
}

.dropdown-menu > li > a:hover,{
  color: #262626;
  background-color: darkGray;  /*change color of links in drop down*/
   }

.row-eq-height {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display:         flex;
}

    // MAIN CONTAINER 
.mainContainer{
  background-color: #FEFAC0; 
  border: 2px white solid;
  padding: 20px 20px 20px 20px;
  margin: 0 50px 0 20px;
  box-shadow: 10px 5px 5px black;
  text-align: center;
}

  // WOULD WE RATHER HAVE A WEATHER PIC IN BACKGROUND?
body{
  background-color: lightGray; 
}
