$font-stack:'Work Sans', sans-serif;
$primary-color: #eee;

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('/images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

/*// weather content /// */

body {
  font: 100% $font-stack;
  color: $primary-color;
  padding-top: 5px;
  /*background-color:red*/
}

#dayScale{
  border: 1px solid red;
  height:100%;
  position: absolute;
  width: 15%;
}
#slider{
  top:50px;
  position: absolute;
}
.btn{
  height: 100px;
  width: 100px;
  border-radius:50px;
}
.todayInfo{
  /*border: 4px dotted black;*/
  height:100vh;
}  
.wi{
  font-size: 275px;
  /*text-align: center;*/
  /*top: 100px;*/
  position: fixed;
  opacity: .2;
}

.tempInfo{
  text-align: center;
  height:325px;
    .tempConditions{
        /*border: 2px dotted red;*/
        width: 50%;
        margin: 0 25%;
        height:325px;
        text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.46);
       
        h2{
          font-size:150px;
          font-weight: 100;
        }
        h5{
          font-size: 45px;
           font-weight: 100;
        }
    }
}
.locationInput{
  /*border: 1px dotted black;*/
  font-weight: 100;
  font-size:15vw;
  position: fixed;
  bottom: 0;
  width: 100%;
  p{
    text-align: center;
  }
}
.greeting{
  /*border: 2px dotted black;*/
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size:7vw;
  font-weight: 300;
    p{
       text-align: center;
    }
}


/**/
