<div class="row">
<div id="icon" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tempInfo">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tempConditions">
      <h2>{{temp}}°F</h2>
      <h5>{{conditions}}<h5>
      </div>
    </div>
  </div>
  
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 locationInput">
        <p>{{name}}</p>
  </div>
</div> <!--row -->

