                
{{#each this}}
  <div class="col-md-2 multipleDayContent">
    <div class="row">
      <div class="col-md-12 dayOfTheWeek">
        <h4>{{name}}</h4>
      </div>
      <div class="col-md-12 weatherCondition">
        <h5>{{conditions}}</h5>
      </div>
      <div class="col-md-12 weatherImg">
        <h2><img src="http://openweathermap.org/img/w/{{icon}}.png"></h2>
      </div>
      <div class="col-md-12 weatherTemp">
        <h4>{{temp}} F</h4>
      </div>
    </div><!-- /row-->
  </div><!-- /multipleDayContent-->
{{/each}}