                
{{#each}}
                <div class="col-md-3 multipleDayContent">
                  <div class="row">
                    <div class="col-md-12 dayOfTheWeek">
                      <h4>Saturday</h4>
                    </div>
                    <div class="col-md-12 weatherCondition">
                      <h5>Sunny</h5>
                    </div>
                    <div class="col-md-12 weatherImg">
                      <h2><span class="glyphicon glyphicon-globe"></span></h2>
                    </div>
                    <div class="col-md-12 weatherTemp">
                      <h4>87° F</h4>
                    </div>
                  </div><!-- /row-->
                </div><!-- /multipleDayContent-->
    {{/each}}